/* Variables */
:root {
    --primary-text-color: black;
    --primary-text-hover: #328636;
}

/* Universal Reset */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    flex-direction: column;
    color: var(--primary-text-color);
}

/* Navigation Bar/Buttons */
.navigation__buttons {
    display: flex;
    justify-content: flex-start;
    padding: 2rem 0;
    margin-left: 10rem;
}

.navigation__button {
    display: inline-block;
    background-color: transparent;
    font-family: inherit;
    border-style: none;
    font-size: 2rem;
    padding: 2rem 3rem;
    transition: all .4s;
}
.navigation__button:hover{
    color: var(--primary-text-hover);
}
