/* Variables */
:root {
    --primary-text-color: black;
    --primary-text-hover: #328636;
}

/* Universal Reset & Layout */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    flex-direction: column;
    color: var(--primary-text-color);
}

main {
    margin: 0 3rem;
}

/* Navigation Bar/Buttons */
.navigation__buttons {
    display: flex;
    padding: 2rem 0;
    margin-left: 10rem;
}

.navigation__button {
    display: inline-block;
    background-color: transparent;
    font-family: inherit;
    border-style: none;
    font-size: 2rem;
    padding: 2rem 3rem;
    margin-right: 2rem;
    transition: all .4s;
}
.navigation__button:hover{
    color: var(--primary-text-hover);
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

label {
    margin-bottom: 2rem;
    font-weight: 600;
}

.breakeven-price__text {
    align-self: center;
    border: 3px solid var(--primary-text-hover);
    padding: 1rem 3rem;
    border-radius: 3rem;
    font-weight: 700;
    color: var(--primary-text-hover);
}
